p {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}

p.move-right {
  background-color: yellow;
  transform: translateX(200px);
}

p.move-down {
  background-color: darkgreen;
  transform: translateY(100px);
}

p:hover {
  transform: translate(20px, 20px);
}
